<div class="modal fade" id="new_bookmark_modal_<%= invader.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-id="modal_<%= invader.name %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add <%= invader.name %> to My Invaders</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [invader, bookmark] do |f| %>
          <%= f.input :flashed,
            :as => :select,
            :collection => [['Flashed',true],['Not Flashed',false]],
            :label => "Flashed ?" %>
          <div class="mapping">
            <p>Map this Invader</p>
            <div class="mapping-input">
              <%= f.input :address,
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
              %>
              <%= image_tag "target.png", alt:"target", id: "target"%>
            </div>
            <div class="mapping-output">
              <%= f.input :latitude, placeholder: "Latitude", :label => "Latitude", id: "lat" %>
              <%= f.input :longitude, placeholder: "Longitude", :label => "Longitude", id: "lng" %>
            </div>
          </div>
          <%= f.input :note, placeholder: "Add a note", :label => "Add a Note" %>
          <%= f.submit "Add", class: "btn btn-flat" %>
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Back</button>
          <% end %>
       </div>
    </div>
  </div>
</div>
