<div class="invader-card" style="background-image: url(
  <% if invader.photo.attached? %>
    <%= cl_image_tag invader.photo.key%>
  <% else %>
    <%=invader.url %>
  <% end %>
  ); background-size: cover; background-position: center;">
  <%= image_tag "lightning.png", alt:"flashed", class: "flashed"%>
  <%= link_to "", invader_path(invader), class:"invader-card-link" %>
  <div class="invader-info">
    <%= image_tag "plus.png", alt:"add", class: "img"%>
    <% case invader.status %>
    <% when "alive" %>
      <%= image_tag "invader-green.png", alt:"alive", class: "img"%>
    <% when "dead" %>
      <%= image_tag "invader-red.png", alt:"dead", class: "img"%>
    <% when "damaged" %>
      <%= image_tag "invader-yellow.png", alt:"damaged", class: "img"%>
    <% when "unknown" %>
      <%= image_tag "invader-grey.png", alt:"unknown", class: "img"%>
    <% end %>
  </div>
</div>
