<div class="container-invaders">
  <%= link_to "Back to Home", "/"  %>
  <div class="search">
    <%= form_with url: invaders_path, method: :get, class: "search-form" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for Invaders"
        %>
      <%= check_box_tag "status[]", "alive", false %>
      <%= label_tag "Alive", class:"label" %>
      <%= check_box_tag "status[]", "damaged", false %>
      <%= label_tag "Damaged", class:"label" %>
      <%= check_box_tag "status[]", "dead", false %>
      <%= label_tag "Dead", class:"label"%>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="cards">
    <% @invaders.each do |invader| %>
      <div class="invader-card">
        <p><%= link_to invader.name, invader_path(invader) %></p>
        <p><%= invader.status %></p>
        <p><%= invader.city.name %></p>
      </div>
    <% end %>
  </div>
</div>
