<div class="container-invaders">
  <div class="search">
    <%= form_with url: invaders_path, method: :get do %>
      <div class="search-bar">
        <%= text_field_tag :query,
              params[:query],
              placeholder: "Search for Invaders"
          %>
      </div>
      <div class="check-boxes">
        <%= check_box_tag "status[]", "alive", true %>
        <%= label_tag "Alive"%>
        <%= check_box_tag "status[]", "damaged", true %>
        <%= label_tag "Damaged"%>
        <%= check_box_tag "status[]", "dead", true %>
        <%= label_tag "Dead"%>
        <%= check_box_tag "status[]", "unknown", true %>
        <%= label_tag "?"%>
      </div>
      <%= submit_tag "Search", name: "", class: "btn-green" %>
    <% end %>
  </div>
  <div class="invaders">
    <% @cities.each do |city| %>
      <h2> <%= city.name %> </h2>
      <div class="cards">
        <% @invaders.where(city: city).each do |invader| %>
          <%= render "invader-card", invader: invader %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
